<div class="main_content">
    <div class="section">
        <div class="container" *ngIf="panier?.articles?.length">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive shop_cart_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Produit</th>
                                    <th class="product-price">Prix</th>
                                    <th class="product-quantity">Quantite</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor=" let article of panier?.articles">
                                    <td class="product-thumbnail"><a><img width="50"
                                                [alt]="article.produitDAO?.designation"
                                                [src]="article.produitDAO?.imageUrl"></a>
                                    </td>
                                    <td data-title="Product" class="product-name">
                                        <a>{{article.produitDAO?.designation}}</a>
                                    </td>
                                    <td data-title="Price" class="product-price">{{article.produitDAO?.prixUnitaire}}
                                    </td>
                                    <td data-title="Quantity" class="product-quantity">
                                        <div class="quantity">
                                            <input (click)="handleSetQuantite($event, article.produitDAO, -1)"
                                                type="button" value="-" class="minus">
                                            <input (keyup)="handleSetQuantite($event, article.produitDAO)" type="text"
                                                [value]="article.quantite" name="quantity" title="Qty" size="4"
                                                class="qty">
                                            <input (click)="handleSetQuantite($event, article.produitDAO, 1)"
                                                type="button" value="+" class="plus">
                                        </div>
                                    </td>
                                    <td data-title="Total" class="product-subtotal">
                                        {{article.total}} f
                                    </td>
                                    <td data-title="Remove" class="product-remove">
                                        <a href="#" (click)="removeProduit($event, article)"><i
                                                class="ti-close"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="medium_divider"></div>
                    <div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="border p-3 p-md-4">
                        <div class="heading_s1 mb-3">
                            <h6>Totals Du Panier</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label">Livraison</td>
                                        <td class="cart_total_amount">Livraison gratuite a Bamako</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Total</td>
                                        <td class="cart_total_amount"><strong>{{panier?.total}} FCFA</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><a class="btn btn-fill-out" [routerLink]="['/checkout']">
                            Acheter maintenant</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="!panier?.articles?.length">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2>Votre panier est vide</h2>
                        <p>Vous pouvez continuer vos achats en cliquant sur le bouton ci-dessous.</p>
                        <a routerLink="/shop" class="btn btn-fill-out">Continuer les achats</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="spinner">
            <app-awaitloading></app-awaitloading>
        </div>
    </div>