<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- STAT SECTION ABOUT -->
    <div class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about_img scene mb-4 mb-lg-0">
                        <img src="assets/imgBG/logo2.jpeg" alt="about_img" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="heading_s1">
                        <h2>Qui sommes-nous</h2>
                    </div>
                    <p>Bamako Gadgets est votre boutique en ligne spécialisée dans la vente de gadgets électroniques,
                        d’accessoires high-tech et de produits innovants à Bamako. Nous vous proposons des produits de
                        qualité,
                        au meilleur prix, avec un service client à l’écoute et une livraison rapide partout au Mali.</p>
                    <p>Rejoignez-nous dès aujourd'hui et découvrez notre sélection de gadgets électroniques et
                        d'accessoires high-tech. Que vous soyez un passionné de technologie ou simplement à la
                        recherche de produits pratiques et innovants, Bamako Gadgets est là pour vous accompagner dans
                        votre quête de la meilleure expérience d'achat en ligne.</p>
                    <p>Choisissez Bamako Gadgets, votre partenaire technologique à Bamako !</p>
                    <a [routerLink]="['/shop']" class="btn btn-fill-out">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION ABOUT -->

    <!-- START SECTION WHY CHOOSE -->
    <div class="section bg_light_blue2 pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="heading_s1 text-center">
                        <h2>Qui sommes-nous</h2>
                    </div>
                    <p class="text-center leads">
                        Bamako Gadgets est une equipe de passionnés de technologie et d'innovation, dédiée à
                        fournir les meilleurs gadgets électroniques et accessoires high-tech à nos clients.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- Vente & prestation -->
                <div class="col-lg-4 col-sm-6">
                    <div class="icon_box icon_box_style4 box_shadow1">
                        <div class="icon">
                            <i class="ti-shopping-cart"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>Vente & prestation</h5>
                            <p>
                                Nous proposons une large gamme de produits high-tech de qualité ainsi que des
                                prestations sur mesure pour répondre à vos besoins spécifiques.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Assistance 24h/24 -->
                <div class="col-lg-4 col-sm-6">
                    <div class="icon_box icon_box_style4 box_shadow1">
                        <div class="icon">
                            <i class="fas fa-cogs"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>Installation & Suivi</h5>
                            <p>
                                Nous offrons un service d'installation et de suivi pour garantir que vos produits
                                fonctionnent parfaitement et répondent à vos attentes.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Livraison -->
                <div class="col-lg-4 col-sm-6">
                    <div class="icon_box icon_box_style4 box_shadow1">
                        <div class="icon">
                            <i class="fas fa-bullhorn"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>Assistance Marketing Digital</h5>
                            <p>
                                Nous vous accompagnons dans la promotion de vos produits et services en ligne, en
                                utilisant les dernières tendances du marketing digital pour maximiser votre visibilité
                                et vos ventes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- END SECTION WHY CHOOSE -->

    <!-- START SECTION TEAM -->
    <div class="section pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="heading_s1 text-center">
                        <h2>Les membres de notre équipe</h2>
                    </div>
                    <p class="text-center leads">
                        Notre équipe est composée de professionnels passionnés par la technologie.
                        Chacun de nos membres apporte son expertise
                        unique pour vous offrir une expérience d’achat en ligne fiable, rapide et personnalisée.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="team_box team_style1">
                        <div class="team_img">
                            <img src="assets/imgBG/IS.jpeg" alt="team_img1">
                            <ul class="social_icons social_style1">
                                <li>
                                    <a href="https://www.linkedin.com/in/ibrahim-sogore-9505b3238?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/share/1LbPKJvBt3/">
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/sogore_dev?igsh=MThhanBsZ3JqNmw5cw==">
                                        <i class="ion-social-instagram-outline"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/@bamakogadgets" target="_blank">
                                        <i class="fab fa-tiktok"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h5>Ibrahim SOGORE</h5>
                                <span>Developpeur FullStack</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="team_box team_style1">
                        <div class="team_img">
                            <img src="assets/imgBG/IS.jpeg" alt="team_img1">
                            <ul class="social_icons social_style1">
                                <li>
                                    <a href="https://www.linkedin.com/in/ibrahim-sogore-9505b3238?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/share/1LbPKJvBt3/">
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/sogore_dev?igsh=MThhanBsZ3JqNmw5cw==">
                                        <i class="ion-social-instagram-outline"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/@bamakogadgets" target="_blank">
                                        <i class="fab fa-tiktok"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h5>Ibrahim SOGORE</h5>
                                <span>Developpeur FullStack</span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- END SECTION TEAM -->

    <!-- START SECTION TESTIMONIAL -->
    <!-- <div class="section bg_redon">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="heading_s1 text-center">
                        <h2>Our Client Say!</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="testimonial_wrap testimonial_style1 carousel_slider owl-carousel owl-theme nav_style2"
                        data-nav="true" data-dots="false" data-center="true" data-loop="true" data-autoplay="true"
                        data-items='1'>
                        <div class="testimonial_box">
                            <div class="testimonial_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi
                                    blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam
                                    natus perferendis possimus quasi sint sit tempora voluptatem.</p>
                            </div>
                            <div class="author_wrap">
                                <div class="author_img">
                                    <img src="assets/images/user_img1.jpg" alt="user_img1" />
                                </div>
                                <div class="author_name">
                                    <h6>Lissa Castro</h6>
                                    <span>Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial_box">
                            <div class="testimonial_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi
                                    blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam
                                    natus perferendis possimus quasi sint sit tempora voluptatem.</p>
                            </div>
                            <div class="author_wrap">
                                <div class="author_img">
                                    <img src="assets/images/user_img2.jpg" alt="user_img2" />
                                </div>
                                <div class="author_name">
                                    <h6>Alden Smith</h6>
                                    <span>Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial_box">
                            <div class="testimonial_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi
                                    blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam
                                    natus perferendis possimus quasi sint sit tempora voluptatem.</p>
                            </div>
                            <div class="author_wrap">
                                <div class="author_img">
                                    <img src="assets/images/user_img3.jpg" alt="user_img3" />
                                </div>
                                <div class="author_name">
                                    <h6>Daisy Lana</h6>
                                    <span>Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial_box">
                            <div class="testimonial_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi
                                    blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam
                                    natus perferendis possimus quasi sint sit tempora voluptatem.</p>
                            </div>
                            <div class="author_wrap">
                                <div class="author_img">
                                    <img src="assets/images/user_img4.jpg" alt="user_img4" />
                                </div>
                                <div class="author_name">
                                    <h6>John Becker</h6>
                                    <span>Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- END SECTION TESTIMONIAL -->

    <!-- START SECTION SHOP INFO -->
    <div class="section pb_70">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-4">
                    <div class="icon_box icon_box_style1">
                        <div class="icon">
                            <i class="flaticon-shipped"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>Livraison Gratuite</h5>
                            <p>rofitez d’un service de livraison rapide et sécurisé partout à Bamako, 
                                avec la garantie que vos produits vous parviennent en parfait état.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon_box icon_box_style1">
                        <div class="icon">
                            <i class="flaticon-money-back"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>Retour sous 15 jours</h5>
                            <p>Parce que votre satisfaction est notre priorité, vous disposez de 15 jours pour 
                                retourner vos articles, sans frais et en toute simplicité, si vous changez d'avis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon_box icon_box_style1">
                        <div class="icon">
                            <i class="flaticon-support"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>24H/24 Support</h5>
                            <p>Notre équipe de support est disponible à tout moment pour répondre 
                                à vos questions et vous aider à chaque étape de votre commande.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP INFO -->

    <!-- END MAIN CONTENT -->