<footer  class="footer_dark">
    <div  class="footer_top">
        <div  class="container">
            <div  class="row">
                <div  class="col-lg-3 col-md-6 col-sm-12">
                    <div  class="widget">
                        <div  class="footer_logo"><a  href="/">
                                <h2 >Bamako Gadgets</h2>
                            </a>
                        </div>
                            <p>
                                Bamako Gadgets est votre référence en produits high-tech et services numériques au Mali.
                                Nous vous proposons des articles de qualité, un service client réactif, et une expérience d’achat simple et
                                sécurisée.
                            </p> 
                    </div>
                    <div  class="widget">
                        <ul  class="social_icons social_white">
                            <li ><a  target="_blank"
                                    href="https://www.facebook.com/share/168XvqUiHp/"><i 
                                        class="ion-social-facebook"></i></a>
                            </li>
                            <li ></li>
                            <li ></li>
                            <li ><a  target="_blank"
                                    href="https://youtube.com/@bamakogadgets?si=veyN5CQmNDCHuQRg"><i
                                         class="ion-social-youtube-outline"></i></a>
                            </li>
                            <li ><a  target="_blank"
                                    href="#"><i 
                                        class="ion-social-instagram-outline"></i></a>
                            </li>
                            <li>
                                    <a href="https://www.tiktok.com/@bamakogadgets" target="_blank">
                                        <i class="fab fa-tiktok"></i>
                                    </a>
                                </li>
                        </ul>
                    </div>
                </div>
                <div  class="col-lg-2 col-md-3 col-sm-6">
                    <div  class="widget">
                        <h6  class="widget_title">Liens utiles</h6>
                        <ul  class="widget_links">
                            <li ><a 
                                    ng-reflect-router-link="/about"
                                    href="/about">A Propos de nous</a></li>
                            <li ><a 
                                    ng-reflect-router-link="/about"
                                    href="/about">Nos services</a></li>
                            <li ><a 
                                    ng-reflect-router-link="/contact"
                                    href="/contact">Contactez-Nous</a></li>
                            <li ><a 
                                    ng-reflect-router-link="/"
                                    href="/">Mentions légales</a></li>
                        </ul>
                    </div>
                </div>
                <div  class="col-lg-2 col-md-3 col-sm-6">
                    <div  class="widget">
                        <h6  class="widget_title">Categorie</h6>
                        <ul  class="widget_links" *ngFor="let categorie of categorieStock">
                            <li ><a  [routerLink]="['shop','categorie', categorie.categorieStock.slug]">{{ categorie.categorieStock.nom }}</a></li>
                        </ul>
                    </div>
                </div>
                <div  class="col-lg-2 col-md-6 col-sm-6">
                    <div  class="widget">
                        <h6  class="widget_title">Mon compte</h6>
                        <ul  class="widget_links">
                            <li ><a  routerlink="account"
                                    ng-reflect-router-link="account" href="/">Mon compte</a></li>
                            <li ><a  routerlink="terms"
                                    ng-reflect-router-link="terms" href="/terms">Termes et condition</a></li>
                            <li ><a  routerlink="signin"
                                    ng-reflect-router-link="signin" href="/signin">Se connecter</a></li>
                            <li ><a  routerlink="signup"
                                    ng-reflect-router-link="signup" href="/signup">S'inscrire</a></li>
                        </ul>
                    </div>
                </div>
                <div  class="col-lg-3 col-md-4 col-sm-6">
                    <div  class="widget">
                        <h6  class="widget_title">Contact Info</h6>
                        <ul  class="contact_info contact_info_light">
                            <li ><i 
                                    class="ti-location-pin"></i>
                                <p>Boutique située à Bamako Coura,
                                    non loin de l'Hôtel Nuima Beleza,
                                    Résidence DEBE.</p>
                            </li>
                            <li ><i  class="ti-email"></i><a href="mailto:info@bamakogadgets.com">info&#64;bamakogadgets.com</a>
                            </li>
                            <li ><i  class="ti-mobile"></i>
                                <p >84 00 89 69</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="bottom_footer border-top-tran">
        <div  class="container">
            <div  class="row">
                <div class="col-md-6">
                    <p class="mb-md-0 text-center text-md-start">
                        © 2025 Tous droits réservés - Bamako Gadgets
                    </p>
                </div>

                <div  class="col-md-6">
                    <ul 
                        class="footer_payment text-center text-lg-end d-flex gap-2 justify-content-end">
                        <li ><a  href="#"><img
                                     src="assets/images/visa.png" alt="visa"></a></li>
                        <li ><a  href="#"><img
                                     src="assets/images/discover.png" alt="discover"></a>
                        </li>
                        <li ><a  href="#"><img
                                     src="assets/images/master_card.png"
                                    alt="master_card"></a></li>
                        <li ><a  href="#"><img
                                     src="assets/images/paypal.png" alt="paypal"></a></li>
                        <li ><a  href="#"><img
                                     src="assets/images/amarican_express.png"
                                    alt="amarican_express"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>