<div class="main_content">
    <div class="section">
        <div class="container">
            <div class="row" *ngIf="produitDAO">
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <div class="product-image">
                        <div class="product_img_box">
                            <img id="product_img" alt="product_img1" [src]="mainImageUrl" width="100%"
                                [attr.data-zoom-image]="mainImageUrl">
                            <a title="Zoom" class="product_img_zoom">
                                <span class="linearicons-zoom-in"></span>
                            </a>
                        </div>
                        <div id="pr_item_gallery" data-slides-to-show="4" data-slides-to-scroll="1"
                            data-infinite="false"
                            class="product_gallery_item slick_slider slick-initialized slick-slider">
                            <div aria-live="polite" class="slick-list draggable">
                                <div class="item slick-slide slick-current slick-active"
                                    *ngFor="let imageUrl of imageUrls; let i = index" [attr.data-slick-index]="i"
                                    aria-hidden="false" tabindex="-1" role="option" style="width: 129px;">
                                    <a href="" class="product_gallery_item" [attr.data-zoom-image]="imageUrl">
                                        <img alt="product_small_img{{i}}" [src]="imageUrl">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="pr_detail">
                        <div class="product_description">
                            <h4 class="product_title">
                                <a href="">{{produitDAO!.designation}}</a>
                            </h4>
                            <div class="product_price"><span class="price">{{produitDAO!.prixUnitaire! | formatMontant
                                    }}
                                </span><del>{{produitDAO!.prixRegulier! | formatMontant}}</del>
                                <div class="on_sale"><span>{{ produitDAO ? (produitDAO | formatSoldeRate) : '' }} de
                                        réduction</span></div>
                            </div>
                            <div class="rating_wrap">
                                <div class="rating">
                                    <div class="product_rate" style="width: 80%;">
                                    </div>
                                </div><span class="rating_num">(21)</span>
                            </div>
                            <div class="pr_desc">
                                <span *ngIf="isDescriptionCollapsed" class="truncate-text"
                                    [innerHTML]="shortDescription"></span>
                                <span *ngIf="!isDescriptionCollapsed" [innerHTML]="produitDAO.description"></span>

                                <p *ngIf="produitDAO.description && produitDAO.description.length > maxLength">
                                    <a class="voirPlus"
                                        (click)="isDescriptionCollapsed = !isDescriptionCollapsed; scrollToDescription()"
                                        style="cursor: pointer;">
                                        {{ isDescriptionCollapsed ? 'Voir plus' : 'Voir moins' }}
                                    </a>
                                </p>
                            </div>


                            <div class="product_sort_info">
                                <ul>
                                    <li><i class="linearicons-shield-check"></i> Garantie d'un an sur la marque HP
                                    </li>
                                    <li><i class="linearicons-sync"></i> Politique de retour de 30 jours </li>
                                    <li><i class="linearicons-bag-dollar"></i> Paiement à la livraison disponible </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="cart_extra">
                            <div class="cart-product-quantity">
                                <div class="quantity">
                                    <input (click)="setQuantie(null,-1)" type="button" value="-" class="minus">
                                    <input (keyup)="setQuantie($event)" type="text" name="quantity" [value]="quantite"
                                        title="Qty" size="4" class="qty">
                                    <input (click)="setQuantie(null,1)" type="button" value="+" class="plus">
                                </div>
                            </div>
                            <div class="cart_btn">
                                <button type="button" class="btn btn-fill-out btn-addtocart"
                                    (click)="addToCart($event)">
                                    <i class="icon-basket-loaded"></i> Ajouter au panier
                                </button>
                                <button (click)="ajouterAuPanierAcheter($event)" type="button"
                                    class="btn btn-fill-out btn-addtocart">
                                    <i class="fas fa-hand-holding-usd"></i> Acheter maintenant
                                </button>
                            </div>
                            <div class="cart_btn"><a href="#" class="add_compare"><i class="icon-shuffle"></i></a><a
                                    href="#" class="add_wishlist"><i class="icon-heart"></i></a>
                            </div>
                        </div>
                        <hr>
                        <ul class="product-meta" *ngIf="produitDAO">
                            <!-- <li>SKU: <a href="">BE45VGRT</a></li> -->
                            <li>Categorie: <a [routerLink]="['/','categorie',produitDAO.categorieStockProdDTO.nom]"
                                    class="text-uppercase">{{produitDAO.categorieStockProdDTO.nom}}</a></li>
                            <li>Caracteristique: <a class="text-uppercase">{{produitDAO!.caracteristique }}</a>
                            </li>
                        </ul>
                        <div class="product_share"><span>Partager:</span>
                            <ul class="social_icons">
                                <li><a href="https://www.facebook.com"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="https://www.youtube.com/"><i class="ion-social-youtube-outline"></i></a>
                                </li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!produitDAO">
                <app-awaitloading></app-awaitloading>
            </div>
            <div class="row" id="scroll">
                <div class="col-12">
                    <div class="large_divider clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-style3">
                        <ul role="tablist" class="nav nav-tabs">
                            <li class="nav-item"><a id="Description-tab" data-bs-toggle="tab" href="#Description"
                                    role="tab" aria-controls="Description" aria-selected="true"
                                    class="nav-link active">Description</a></li>
                            <li class="nav-item"><a id="Additional-info-tab" data-bs-toggle="tab"
                                    href="#Additional-info" role="tab" aria-controls="Additional-info"
                                    aria-selected="false" class="nav-link">info supplémentaires</a></li>
                            <li class="nav-item"><a id="Reviews-tab" data-bs-toggle="tab" href="#Reviews" role="tab"
                                    aria-controls="Reviews" aria-selected="false" class="nav-link">Avis (3)</a>
                            </li>
                        </ul>
                        <div class="tab-content shop_info_tab">
                            <div role="tabpanel" aria-labelledby="Description-tab" class="tab-pane fade show active">
                                <span [innerHTML]="produitDAO?.description || 'Aucune description disponible'"></span>
                            </div>

                            <div id="Additional-info" role="tabpanel" aria-labelledby="Additional-info-tab"
                                class="tab-pane fade">
                                <span [innerHTML]="produitDAO?.info || 'Aucune info disponible'"></span>
                            </div>
                            <div id="Reviews" role="tabpanel" aria-labelledby="Reviews-tab" class="tab-pane fade">
                                <div class="comments">
                                    <h5 class="product_tab_title">2 Avis Pour <span>{{produitDAO?.designation }}</span>
                                    </h5>
                                    <ul class="list_none comment_list mt-4">
                                        <li>
                                            <div class="comment_img"><img src="assets/images/user2.jpg" alt="user1">
                                            </div>
                                            <div class="comment_block">
                                                <div class="rating_wrap">
                                                    <div class="rating">
                                                        <div class="product_rate" style="width: 80%;"></div>
                                                    </div>
                                                </div>
                                                <p class="customer_meta"><span class="review_author">Aichata
                                                        Diakite</span><span class="comment-date">05 Mai 2025</span></p>
                                                <div class="description">
                                                    <p>“Service rapide et professionnel. J’ai commandé un produit et il
                                                        m’a été livré
                                                        dans les délais avec un bon suivi. Je recommande fortement
                                                        Bamako Gadgets.”</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="comment_img"><img src="assets/images/user2.jpg" alt="user2">
                                            </div>
                                            <div class="comment_block">
                                                <div class="rating_wrap">
                                                    <div class="rating">
                                                        <div class="product_rate" style="width: 60%;"></div>
                                                    </div>
                                                </div>
                                                <p class="customer_meta"><span class="review_author">Adama
                                                        SANOGO</span><span class="comment-date">17 Juin 2025</span></p>
                                                <div class="description">
                                                    <p>“Produits de qualité, équipe réactive et à l’écoute. J’ai pu
                                                        trouver exactement
                                                        ce que je cherchais. Merci pour le professionnalisme !”</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="comment_img"><img src="assets/images/user2.jpg" alt="user2">
                                            </div>
                                            <div class="comment_block">
                                                <div class="rating_wrap">
                                                    <div class="rating">
                                                        <div class="product_rate" style="width: 60%;"></div>
                                                    </div>
                                                </div>
                                                <p class="customer_meta"><span class="review_author">Alassane
                                                        DAO</span><span class="comment-date">17 Avril 2025</span></p>
                                                <div class="description">
                                                    <p>“Une excellente expérience d’achat. La plateforme est simple à
                                                        utiliser et
                                                        le service client très disponible. Je reviendrai sans hésiter.”
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="review_form field_form">
                                    <h5>Ajouter un avis</h5>
                                    <form novalidate="" class="row mt-3 ng-untouched ng-pristine ng-valid">
                                        <div class="form-group col-12 mb-3">
                                            <div class="star_rating"><span data-value="1"><i
                                                        class="far fa-star"></i></span><span data-value="2"><i
                                                        class="far fa-star"></i></span><span data-value="3"><i
                                                        class="far fa-star"></i></span><span data-value="4"><i
                                                        class="far fa-star"></i></span><span data-value="5"><i
                                                        class="far fa-star"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-12 mb-3"><textarea required="required"
                                                placeholder="Votre Avis *" name="message" rows="4"
                                                class="form-control"></textarea></div>
                                        <div class="form-group col-md-6 mb-3"><input required="required"
                                                placeholder="Entrer votre nom *" name="name" type="text"
                                                class="form-control">
                                        </div>
                                        <div class="form-group col-md-6 mb-3"><input required="required"
                                                placeholder="Entrer votre Email *" name="email" type="email"
                                                class="form-control"></div>
                                        <div class="form-group col-12 mb-3"><button type="submit" name="submit"
                                                value="Submit" class="btn btn-fill-out">Envoyer avis</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="small_divider"></div>
                    <div class="divider"></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
            <div class="row" *ngIf="produitRelative.length">
                <div class="col-12">
                    <div class="heading_s1">
                        <h3>Produits Simulaires</h3>
                    </div>
                    <div id="produits-similaires" data-margin="20" class="releted_product_slider carousel_slider owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1420px;">
                                <div *ngFor="let currentProd of paginatedProduits " class="owl-item active"
                                    style="width: 264px; margin-right: 20px;">
                                    <div class="item">
                                        <div class="product">
                                            <div class="product_img"><a href="#"><img [src]="currentProd.imageUrl"
                                                        alt="product_img1"></a>
                                                <div class="product_action_box">
                                                    <ul class="list_none pr_action_btn">
                                                        <li>
                                                            <a (click)="ajouterAuPanierAcheter($event)">
                                                                <i class="fas fa-hand-holding-usd"></i>
                                                            </a>
                                                        </li>

                                                        <li class="add-to-cart">
                                                            <a (click)="ajouterAuPanier($event)">
                                                                <i class="icon-basket-loaded"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product_info"
                                                (click)="naviguerVersDetailProduit(currentProd?.slug ?? null)"
                                                style="cursor: pointer;">
                                                <h6 class="product_title"><a
                                                        [routerLink]="['/produit', currentProd?.slug]">{{currentProd.designation}}</a>
                                                </h6>
                                                <div class="product_price"><span
                                                        class="price">{{currentProd?.prixUnitaire! | formatMontant }}
                                                    </span><del>{{currentProd?.prixRegulier! | formatMontant}} </del>
                                                    <div class="on_sale"><span>{{ currentProd | formatSoldeRate }} de
                                                            réduction</span></div>
                                                </div>
                                                <!-- nhjsj -->
                                                <div class="cart_btn row g-2">
                                                    <div class="col-12 col-md-6">
                                                        <button type="button" (click)="ajouterAuPanier($event)"
                                                            class="btn btn-fill-out btn-addtocart w-100 py-2 btn-sm-text d-inline-flex align-items-center justify-content-center">
                                                            <i class="icon-basket-loaded me-2"></i> Panier
                                                        </button>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <button type="button" (click)="ajouterAuPanierAcheter($event)"
                                                            class="btn btn-fill-out w-100 py-2 btn-sm-text d-inline-flex align-items-center justify-content-center">
                                                            <i class="fas fa-hand-holding-usd me-2"></i> Acheter
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="owl-nav disabled">
                            <button type="button" role="presentation" class="owl-prev">
                                <i class="ion-ios-arrow-left"></i>
                            </button>
                            <button type="button" role="presentation" class="owl-next">
                                <i class="ion-ios-arrow-right"></i>
                            </button>
                        </div> -->
                        <div class="pagination-container text-center mt-3">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" [class.disabled]="currentPage === 1">
                                    <a id="precedent" class="page-link" (click)="goToPage(currentPage - 1)">Précédent</a>
                                </li>

                                <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                                    [class.active]="currentPage === i + 1">
                                    <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
                                </li>

                                <li class="page-item" [class.disabled]="currentPage === totalPages">
                                    <a id="Suivant" class="page-link" (click)="goToPage(currentPage + 1)">Suivant</a>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                                role="button" class="owl-dot"><span></span></button></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div><!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}-->
</div>