<div class="product">
    <div class="product_img">
        <a [routerLink]="['/produit', produitDAO?.slug]">
            <img [attr.alt]="'Image:'+produitDAO?.designation" [src]="produitDAO?.imageUrl">
        </a>
        <div class="product_action_box">
            <ul class="list_none pr_action_btn">
                <li class="add-to-cart">
                    <a href="#">
                        <i class="icon-basket-loaded"></i>
                     Ajouter au panier</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="product_info">
        <h6 class="product_title"><a [routerLink]="['/produit', produitDAO?.slug]">{{produitDAO?.designation}}</a>
        </h6>
        <div class="product_price">
            <span class="price">{{produitDAO?.prixUnitaire! | formatMontant }}</span>
            <del>{{produitDAO?.prixRegulier! | formatMontant}}</del>
            <div class="on_sale">
                <span>{{ produitDAO | formatSoldeRate }} de réduction</span>
            </div>
        </div>
        <div class="rating_wrap">
            <div class="rating">
                <div class="product_rate" style="width:80%"></div>
            </div>
            <span class="rating_num">(21)</span>
        </div>
        <div class="pr_desc">
            <p>
                <span [innerHTML]="produitDAO?.description || 'Aucune description disponible'"></span>
            </p>
        </div>
        <div class="list_product_action_box">
            <ul class="list_none pr_action_btn">
                <li class="add-to-cart" (click)="addToCart($event)">
                    <a href="#"><i class="icon-basket-loaded"></i>
                        Ajouter au panier
                    </a>
                </li>
                <li class="add-to-cart">
                    <a (click)="ajouterAuPanierAcheter($event)">
                        <i class="fas fa-hand-holding-usd"></i>
                        Acheter maintenant
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>