<div class="product">
    <div class="product_img">
        <img [attr.alt]="'Image:' + produitDAO?.designation" [src]="produitDAO?.imageUrl">
        
        <div class="product_action_box">
            <ul class="list_none pr_action_btn">
                <li>
                    <a (click)="ajouterAuPanierAcheter($event)">
                        <i class="fas fa-hand-holding-usd"></i>
                    </a>
                </li>

                <li class="add-to-cart">
                    <a (click)="ajouterAuPanier($event)">
                        <i class="icon-basket-loaded"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="product_info">
        <h6 class="product_title"><a ng-reflect-router-link="#" [routerLink]="['/produit', produitDAO?.slug]">
                {{produitDAO?.designation}}
            </a></h6>
        <div class="product_price">
            <span class="price">
                {{produitDAO?.prixUnitaire! | formatMontant }}
            </span>
            <del>
                {{produitDAO?.prixRegulier! | formatMontant}}
            </del>
            <div class="on_sale">
                <span> {{ produitDAO | formatSoldeRate }} Réduction </span>
            </div>
        </div>
        <div class="cart_btn row g-2">
            <div class="d-flex gap-2">
                <button type="button" (click)="ajouterAuPanier($event)"
                    class="btn btn-fill-out btn-addtocart flex-fill py-2 btn-sm-text d-inline-flex align-items-center justify-content-center">
                    <i class="icon-basket-loaded me-2"></i>
                </button>

                <button type="button" (click)="ajouterAuPanierAcheter($event)"
                    class="btn btn-fill-out flex-fill py-2 btn-sm-text d-inline-flex align-items-center justify-content-center">
                    <i class="fas fa-hand-holding-usd me-2"></i>
                </button>
            </div>
        </div>
    </div>
</div>