<app-banner [banners] = "banners"></app-banner>
<div class="main_content">
    <div class="section small_pt pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="heading_s1 text-center">
                        <h2>Produits Exclusifs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-style1">
                        <ul role="tablist" class="nav nav-tabs justify-content-center">
                            <li class="nav-item">
                                <a id="nouveaute-tab" data-bs-toggle="tab" href="#nouveaute" role="tab"
                                    aria-controls="arrival" aria-selected="true" class="nav-link active">Nouveauté
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="plusVendu-tab" data-bs-toggle="tab" href="#plusVendu" role="tab"
                                    aria-controls="sellers" aria-selected="false" class="nav-link">Plus Vendu
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="offreSpeciale-tab" data-bs-toggle="tab" href="#offreSpeciale" role="tab"
                                    aria-controls="featured" aria-selected="false" class="nav-link">Offre Speciale
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="vedette-tab" data-bs-toggle="tab" href="#vedette" role="tab"
                                    aria-controls="sellers" aria-selected="false" class="nav-link">En Vedette
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="nouveaute" role="tabpanel" aria-labelledby="nouveaute-tab"
                            class="tab-pane fade show active">
                        <app-tab-product-container [produitDAO]="products['nouveaute']"></app-tab-product-container>
                        </div>
                        <div id="plusVendu" role="tabpanel" aria-labelledby="plusVendu-tab" class="tab-pane fade">
                            <app-tab-product-container [produitDAO]="products['plusVendu']"></app-tab-product-container>
                        </div>
                        <div id="offreSpeciale" role="tabpanel" aria-labelledby="offreSpeciale-tab" class="tab-pane fade">
                            <app-tab-product-container [produitDAO]="products['offreSpeciale']"></app-tab-product-container>
                        </div>
                        <div id="vedette" role="tabpanel" aria-labelledby="vedette-tab" class="tab-pane fade">
                            <app-tab-product-container [produitDAO]="products['vedette']"></app-tab-product-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-collection [collections] = "collections"></app-collection>
</div>