<div  class="main_content">
    <div  class="section">
        <div  class="container">
            <div  class="row justify-content-center">
                <div  class="col-md-6">
                    <div  class="heading_s1 mb-3 mb-md-5">
                        <h3 >General questions</h3>
                    </div>
                    <div  id="accordion" class="accordion accordion_style1">
                        <div  class="card">
                            <div  id="headingOne" class="card-header">
                                <h6  class="mb-0"><a 
                                        data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"
                                        class="collapsed" href="#collapse_646b9f66b784edcd409731fc"> Comment puis-je
                                        suivre ma commande ? </a></h6>
                            </div>
                            <div  aria-labelledby="headingOne" data-bs-parent="#accordion"
                                class="collapse show" id="collapse_646b9f66b784edcd409731fc">
                                <div  class="card-body">
                                    <p>Dès que votre colis est prêt à être livré, 
                                        vous serez contacté par téléphone pour préciser les détails du lieu de livraison.</p>
                                </div>
                            </div>
                        </div>
                        <div  class="card">
                            <div  id="headingOne" class="card-header">
                                <h6  class="mb-0"><a 
                                        data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"
                                        class="collapsed" href="#collapse_646b9f74b784edcd409731fe"> Que faire si mon
                                        article est défectueux ou endommagé ? </a></h6>
                            </div>
                            <div  aria-labelledby="headingOne" data-bs-parent="#accordion"
                                class="collapse show" id="collapse_646b9f74b784edcd409731fe">
                                <div  class="card-body">
                                    <p>Si vous recevez un article défectueux ou endommagé, veuillez nous contacter dès
                                        que possible. Nous vous demanderons de nous fournir des photos ou des détails
                                        sur le problème afin que nous puissions résoudre la situation rapidement. Nous
                                        vous proposerons un remboursement, un échange ou une réparation selon le cas.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div  class="card">
                            <div  id="headingOne" class="card-header">
                                <h6  class="mb-0"><a 
                                        data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"
                                        class="collapsed" href="#collapse_646b9f86b784edcd40973200"> Est-ce que vous
                                        expédiez dans les regions ou à l'international ? </a></h6>
                            </div>
                            <div  aria-labelledby="headingOne" data-bs-parent="#accordion"
                                class="collapse show" id="collapse_646b9f86b784edcd40973200">
                                <div  class="card-body">
                                    <p>Oui, nous expédions nos produits dans de nombreux regions et pays à travers le monde. Lors
                                        du processus de commande, veuillez indiquer votre region ou pays de livraison pour
                                        vérifier si nous pouvons expédier dans votre région.</p>
                                </div>
                            </div>
                        </div>
                        <div  class="card">
                            <div  id="headingOne" class="card-header">
                                <h6  class="mb-0"><a 
                                        data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"
                                        class="collapsed" href="#collapse_646b9f94b784edcd40973202"> Où puis-je trouver
                                        ma facture ? </a></h6>
                            </div>
                            <div  aria-labelledby="headingOne" data-bs-parent="#accordion"
                                class="collapse show" id="collapse_646b9f94b784edcd40973202">
                                <div  class="card-body">
                                    <p>Une fois votre commande expédiée, 
                                        la facture vous sera remise directement lors de la livraison. 
                                        Si vous ne la recevez pas avec votre colis, 
                                        n'hésitez pas à nous contacter, nous serons heureux de vous la renvoyer.</p>
                                </div>
                            </div>
                        </div>
                        <div  class="card">
                            <div  id="headingOne" class="card-header">
                                <h6  class="mb-0"><a 
                                        data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"
                                        class="collapsed" href="#collapse_646ba05eb784edcd40973243"> Comment puis-je
                                        créer un compte sur votre site ? </a></h6>
                            </div>
                            <div  aria-labelledby="headingOne" data-bs-parent="#accordion"
                                class="collapse show" id="collapse_646ba05eb784edcd40973243">
                                <div  class="card-body">
                                    <p>Pour créer un compte, cliquez sur "S'inscrire" en haut à droite de la page
                                        d'accueil, puis suivez les instructions pour fournir les informations requises.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div  class="card">
                            <div  id="headingOne" class="card-header">
                                <h6  class="mb-0"><a 
                                        data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"
                                        class="collapsed" href="#collapse_646ba06fb784edcd40973245"> Comment puis-je
                                        réinitialiser mon mot de passe ? </a></h6>
                            </div>
                            <div  aria-labelledby="headingOne" data-bs-parent="#accordion"
                                class="collapse show" id="collapse_646ba06fb784edcd40973245">
                                <div  class="card-body">
                                    <p>Vous pouvez réinitialiser votre mot de passe en cliquant sur "Mot de passe
                                        oublié" sur la page de connexion. Suivez ensuite les instructions pour
                                        réinitialiser votre mot de passe.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="col-md-6 mt-4 mt-md-0">
                    <div  class="heading_s1 mb-3 mb-md-5">
                        <h3 >Autres questions</h3>
                    </div>
                    <div  id="accordion2" class="accordion accordion_style1">
                        <div  class="card">
                            <div  id="headingOne" class="card-header">
                                <h6  class="mb-0"><a 
                                        data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"
                                        class="collapsed" href="#collapse_646b9f21b784edcd40973182"> Quels sont les
                                        modes de paiement acceptés ? </a></h6>
                            </div>
                            <div  aria-labelledby="headingOne" data-bs-parent="#accordion"
                                class="collapse show" id="collapse_646b9f21b784edcd40973182">
                                <div  class="card-body">
                                    <p>Nous acceptons les paiements à la livraison ainsi 
                                        que par Orange Money au numéro +223 84008969 ou le retrait sur votre compte Orange Money. 
                                        Vous pourrez choisir votre mode de paiement préféré 
                                        lors de la validation de votre commande.</p>

                                </div>
                            </div>
                        </div>
                        <div  class="card">
                            <div  id="headingOne" class="card-header">
                                <h6  class="mb-0"><a 
                                        data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"
                                        class="collapsed" href="#collapse_646b9f35b784edcd409731a6"> Quels sont les
                                        délais de livraison ? </a></h6>
                            </div>
                            <div  aria-labelledby="headingOne" data-bs-parent="#accordion"
                                class="collapse show" id="collapse_646b9f35b784edcd409731a6">
                                <div  class="card-body">
                                    <p>Les délais de livraison dépendent de votre adresse de livraison et du produit
                                        commandé. Nous nous efforçons de livrer vos articles dans les plus brefs délais.</p>
                                </div>
                            </div>
                        </div>
                        <div  class="card">
                            <div  id="headingOne" class="card-header">
                                <h6  class="mb-0"><a 
                                        data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"
                                        class="collapsed" href="#collapse_646b9f46b784edcd409731ce"> Quels sont les
                                        frais de livraison ? </a></h6>
                            </div>
                            <div  aria-labelledby="headingOne" data-bs-parent="#accordion"
                                class="collapse show" id="collapse_646b9f46b784edcd409731ce">
                                <div  class="card-body">
                                    <p>Les frais de livraison varient en fonction de la destination, du poids et de la
                                        taille du colis. Vous pouvez consulter les frais de livraison exacts lors du
                                        processus de commande. Certains articles peuvent bénéficier de la livraison
                                        gratuite.</p>
                                </div>
                            </div>
                        </div>
                        <div  class="card">
                            <div  id="headingOne" class="card-header">
                                <h6  class="mb-0"><a 
                                        data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"
                                        class="collapsed" href="#collapse_646b9f56b784edcd409731fa"> Puis-je retourner
                                        un produit si je ne suis pas satisfait ? </a></h6>
                            </div>
                            <div  aria-labelledby="headingOne" data-bs-parent="#accordion"
                                class="collapse show" id="collapse_646b9f56b784edcd409731fa">
                                <div  class="card-body">
                                    <p>Oui, nous offrons une politique de retour de 30 jours. Si vous n'êtes pas
                                        satisfait de votre achat, vous pouvez nous le retourner dans les 30 jours
                                        suivant la réception pour un remboursement ou un échange. Veuillez consulter
                                        notre politique de retour pour plus de détails sur la procédure de retour.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>