<div class="main_content">
    <form [formGroup]="clientListForm" class="ng-untouched ng-pristine ng-valid">
        <div class="section">
            <div class="container" *ngIf="panier?.articles?.length">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading_s1">
                            <h4>Information de livraison</h4>
                        </div>

                        <div class="form-group mb-3">
                            <input type="text" name="fname" placeholder="Prenom " class="form-control"
                                formControlName="prenom">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" name="fname" placeholder="Nom " class="form-control"
                                formControlName="nom">
                        </div>
                        <div class="form-group mb-3">
                            <input type="number" placeholder="Téléphone *" class="form-control" formControlName="telephone"
                                maxlength="8" [ngClass]="{
                                'is-invalid': clientListForm.get('telephone')?.invalid && 
                                            (clientListForm.get('telephone')?.touched || clientListForm.get('telephone')?.dirty)
                                }">

                            <!-- Messages d'erreur détaillés -->
                            <div class="invalid-feedback">
                                <div *ngIf="clientListForm.get('telephone')?.hasError('required') && 
                (clientListForm.get('telephone')?.touched || clientListForm.get('telephone')?.dirty)">
                                    Le numéro de téléphone est requis.
                                </div>
                                <div *ngIf="clientListForm.get('telephone')?.hasError('pattern') && 
                !clientListForm.get('telephone')?.hasError('required')">
                                    Le numéro doit contenir exactement 8 chiffres.
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <input type="text" name="billing_address" placeholder="Adresse "
                                class="form-control" formControlName="adresse">
                        </div>
                        <div class="form-group mb-3">
                            <input  type="text" name="email" placeholder="Email " class="form-control"
                                formControlName="email">
                        </div>
                        <div class="heading_s1">
                            <h4>Note</h4>
                        </div>
                        <div class="form-group mb-0">
                            <textarea rows="5" placeholder="Entre une note" class="form-control"
                                formControlName="note"></textarea>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="heading_s1">
                                <h4>Votre Commande</h4>
                            </div>
                            <div class="table-responsive order_table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let article of panier?.articles">
                                            <td>{{article.produitDAO?.designation}}
                                                <span class="product-price">{{article.produitDAO?.prixUnitaire! | formatMontant}}
                                                    </span>
                                                x<span class="product-qty"> {{article.quantite}}</span>
                                            </td>
                                            <td>
                                                {{article?.total! | formatMontant}}
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Livraison</th>
                                            <td>Livraison gratuit a Bamako</td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td class="product-subtotal">{{panier?.total! | formatMontant}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="medium_divider"></div>
                        <div class="divider center_icon"><i class="linearicons-credit-card"></i></div>
                        <div class="medium_divider"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <a (click)="ajouterClientEtEnregistrerCde()" class="btn btn-fill-out btn-block">Confirmer votre
                        commande
                        ({{panier?.total! | formatMontant}})
                    </a>
                </div>

                <div class="container" *ngIf="!panier?.articles?.length">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <h2>Votre panier est vide</h2>
                                <p>Vous pouvez continuer vos achats en cliquant sur le bouton ci-dessous.</p>
                                <a routerLink="/shop" class="btn btn-fill-out">Continuer les achats</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" *ngIf="spinner">
                    <app-awaitloading></app-awaitloading>
                </div>
            </div>
        </div>
    </form>
</div>